[submodule "ROOTChickenBonds/lib/openzeppelin-contracts"]
	path = ROOTChickenBonds/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "ROOTChickenBonds/lib/forge-std"]
	path = ROOTChickenBonds/lib/forge-std
	url = https://github.com/brockelmore/forge-std
[submodule "ROOTChickenBonds/lib/b-protocol"]
	path = ROOTChickenBonds/lib/b-protocol
	url = https://github.com/backstop-protocol/dev
[submodule "ROOTChickenBonds/lib/datetime"]
	path = ROOTChickenBonds/lib/datetime
	url = https://github.com/bokkypoobah/BokkyPooBahsDateTimeLibrary
[submodule "ROOTChickenBonds/lib/Beanstalk"]
	path = ROOTChickenBonds/lib/Beanstalk
	url = https://github.com/BeanstalkFarms/Beanstalk
[submodule "ROOTChickenBonds/ROOTChickenBonds/lib/Beanstalk"]
	path = ROOTChickenBonds/ROOTChickenBonds/lib/Beanstalk
	url = https://github.com/BeanstalkFarms/Beanstalk
[submodule "ROOTChickenBonds/lib/openzeppelin-contracts"]
	path = ROOTChickenBonds/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
